*
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

html, body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    height: 100%;
    max-height: 100%
}

body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

p {
    overflow-wrap: break-word;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url('images/background-medium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.splash {
    width: 50%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    padding: 5rem;
}

.line {
    width: 20%;
    border: 1px solid #ffffff;
    margin-left: 0;
}

.heading {
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
    padding: 5rem;
}

.footer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

.footer-text {
    margin-top: 10;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.faq {
    width: 50%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.faq-heading {
    font-size: 30px;
    color: #111111;
    font-weight: bold;
    margin: 5rem;
    margin-bottom: 0;
}

.faq-items {
    height: 100%;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.faq-title {
    font-size: 1.6rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    cursor: pointer;
}

.faq-item-content {
    overflow: hidden;
    transition: all 1s ease-out;
    transform: scaleY(1);
    transform-origin: top;
    color: #555555;
    line-height: 2.5rem;
    font-size: 15px;
    text-justify: auto;
}

.faq-line {
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
}

.faq-top-line {
    width: 100%;
    border-top: 1px solid #d7d7d7;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.collapse {
    height: 0px;
}

/* Anything smaller than an ipad mini, we'll adjust to suit the screen */
@media only screen and (max-width: 768px){
    .html, .body {
        max-width: 100vh;
    }
    .container {
        flex-direction: column;
        max-width: 100vh;
        background-attachment: fixed;
        background-image: url('images/background-low.jpg');
    }

    .splash {
        width: 100%;
        height: 45vh;
        flex-direction: column;
        justify-content: space-between;
    }

    .faq {
        width: 100%;
        height: 50%;
        flex-direction: column;
        overflow-y: scroll;
    }

    .logo {
        font-size: 25px;
        padding-left: 3rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        padding-right: 0;
    }

    .heading {
        font-size: 45px;
        font-weight: bold;
        color: #ffffff;
        padding-left: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        padding-right: 0;
        padding-left: 3rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 320px){
    .container {
        background-image: url('images/background-low.jpg');
    }
    .heading {
        font-size: 35px;
    }
}
